/* Estilos del menú fijo */
header {
    position: relative;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    background-color: rgba(255, 5, 5, 0.1);
}

nav a.active {
    background-color: rgba(0, 0, 0, 0.2);
    /* Cambiar el color de fondo del enlace activo */
}

/* Estilos del slider de imágenes */
.hero-slider {
    height: 100vh;
    overflow: hidden;
}

.hero-slide {
    width: 100%;
    height: 100%;
}

.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-slider {
    position: relative;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
}


/* Estilos del texto del encabezado */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 128px;
    overflow: hidden;
    white-space: nowrap;
}

.date-info {
    background-color: #f5f2f9;
}

.date-text {
    font-family: 'Alex Brush';
    margin-top: 0px;
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 96px;
}

.wedding-date {
    font-family: 'Lora';
    font-size: 92px;
    margin-top: 100px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 0;
}

/* Estilos adicionales */
body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    padding: 40px;
}

section h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos de las secciones */
.info-section {
    background-color: #f9f5f2;
    padding: 40px 0;
}

.info-header {
    text-align: center;
    margin-bottom: 20px;
}

.info-header h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #333;
}

.countdown-section {
    background-color: #f5f2f9;
    padding: 40px 0;
}

.countdown-header {
    text-align: center;
    margin-bottom: 20px;
}

.countdown-header h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #333;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.countdown-number {
    width: 60px;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.countdown-label {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

.map-section {
    text-align: center;
    padding: 40px 0;
}

.map-section h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #333;
}

.map-section h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    color: #333;
}

#map {
    width: 100%;
    height: 400px;
}

.dress-code-section {
    text-align: center;
    padding: 40px 0;
}

.dress-code-section h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #333;
}

.dress-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dress-code-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.dress-code-item i {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.dress-code-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.2;
}

/* Estilos del pie de página */
.footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos generales para enlaces */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Form */

.rsvp-section {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rsvp-section h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.radio-options {
    display: flex;
    align-items: center;
}

.radio-options label {
    font-size: 16px;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}